*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  height: 100vh;
  background: linear-gradient(rgba(14, 13, 13, 0.75), rgba(121, 117, 117, 0.75)), url(./images/bg-img.jpg);
  background-position: center;
  background-size: cover;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}
header .navbar{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.navbar .logo span{
  color: #C06B3E;
}
.navbar .logo{
  font-size: 2.1rems;
  font-weight: 600;
}
.navbar .menu-links{
  display: flex;
  gap: 40px;
}
.navbar a{
  color: white;
  text-decoration: none;
}
.navbar a:hover{
  color: #C06B3E;
  transition: 0.2s ease;
}