* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  min-height: fit-content;  
  padding: 10px;
  margin: 10px;
}

.nav {
  background-color: rgb(149, 205, 223);
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-content: center;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
   width: 100vw;
  margin-top: 8px;
}
