* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  min-height: fit-content;  
  padding: 10px;
  margin: 10px;
}

.nav {
  background-color: rgb(149, 205, 223);
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-content: center;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
   width: 100vw;
  margin-top: 8px;
}
.section1 h2 {
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section1 p {
  font-size: 20px;
  margin: 10px 45px 10px 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
    width: 100vw;
  margin-top: 30px;
}

.section2 h2 {
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section2 p {
  font-size: 20px;
  margin: 10px 45px 10px 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;

}
.butt {
  padding: 12px 20px;
  background-color: blue;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 70px;
  margin-right: 150px;
  margin-bottom: 20px;
  cursor: pointer;

}
