*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.logotext{
    margin-left: 15px;
}
.logotext p{
    font-size: 10px;
    color: rgb(77, 74, 74);
    font-weight: 500px;
}
.logotext h3{
    color: #00BCD4;
} 
.MY_NAV{
    background-color: #EBEBEB;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.my_ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 300px;
    padding-top: 10px;
}
.my_ul a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(77, 74, 74);
}
.btn1{
    margin-right: 50px;
}
.btn1 button{
    padding: 15px 7px;
    background-color: #00BCD4;
    color: white;
    font-size: 10px;
    border: none;
}
.BGimg{
    background-image: url(./images/dental\ img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.TOOTHCARE{
    margin-left: 800px;
    padding-top: 300px;
}
.TOOTHCARE h1{
    font-size: 80px;
    color: #00BCD4;
}
.TOOTHCARE p{
    font-size: 43px;
    color: rgb(77, 74, 74);
}
.button_container{
    margin-left: 900px;
    margin-top: 20px;
}
.btn2{
    padding: 15px 7px;
    background-color: #00BCD4;
    color: white;
    font-size: 15px;
    border: none;
    margin-right: 20px;
    border-radius: 10px;
}
.btn3{
    padding: 15px 7px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
