* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(232, 232, 232, 0, 5);
}

.navigation ul {
    display: flex;
    gap: 20px;
    list-style: none;
    flex-direction: row;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 10px 20ppx;
    display: block;
}

.navigation ul li:hover a {
    background-color: black;
    color: #ffffff;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    background-color:rgb(241, 196, 112);
}
.text-image h1{
    font-size: 50px;
    color:white;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 60px;
}
.text-image p{
    font-size: 15px;
    color: antiquewhite;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 60px;
}
.container-2{
    background-color: azure;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 300px;
}
.container-2 text{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    justify-self:center;
    justify-content: center;
}
.text{
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 70px;
}
.button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    background-color: orange;
}
.text h1{
    color: orange;

}